# Python virtual environment
.venv/
.venv-gpu/
venv/
ENV/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*,cover

# Environment variables
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints
.ipynb_checkpoints/

# pyenv
.python-version

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Data and results directories
/data/
/results/
/out/

# Logs
*.log

# SQLite database files
*.sqlite3

# Temporary files
*.tmp
*.temp
*.swp
*~

# OS files
.DS_Store
